/*======= index.html =======*/
#home #content .row-2 .col-1 {width:290px; margin-right:65px;}
#home #content .row-2 .col-2 { width:312px;}
#home #content .row-3 .col-1 {width:348px; margin-right:20px;}
#home #content .row-3 .col-2 { width:338px;}

/*======= index-1.html =======*/
#page #content .row-1 .col-1 {width:314px; margin-right:41px;}
#page #content .row-1 .col-2 { width:312px;}
#page #content .row-2 .col-1 {width:334px; margin-right:36px;}
#page #content .row-2 .col-2 { width:334px;}
#page #content .row-3 .col-1 {width:223px; margin-right:26px;}
#page #content .row-3 .col-2 { width:224px; margin-right:26px;}
#page #content .row-3 .col-3 { width:224px;}


/*=========================*/


