* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:986px;
}
body { 
	background:url(../images/main-bg.jpg) no-repeat 50% 0 #ededed; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:.9375em;
	color:#7f7f7f;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}

table.movie_info td {
	color: #111111;
	padding-top: 5px;
}

table.movie_info td.th {
	color: #7F7F7F;
	width: 80px;
	vertical-align: top;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.searchContent .col-1, .col-2, .col-3 { 
	float:left;
	width:440px;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}




/*==== GLOBAL =====*/
#main {
	width:986px; 
	margin:0 auto;
	font-size:.75em;
	padding:22px 0 20px 0;
}

#header {
	height:172px;
	margin-bottom:16px;
	overflow:hidden;
}
#content {
	background:#fff;
	padding:15px 14px 30px 16px;
}
	#content .aside {
		float:left;
		width:204px;
		margin-right:15px;
	}
	#content .mainContent {
		float:left;
		width:736px;
	}
	#content .mainContent_full {
		float:left;
		width:100%;
	}
	#content .searchContent {
		float:left;
		width:955px;
	}


/*----- forms parameters -----*/

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:16px;
}
.p1 { 
	margin-bottom:8px;
}
.p2 { 
	margin-bottom:16px;
}
.p3 { 
	margin-bottom:24px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#16cbf8; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

h2 {
	font-size:21px;
	line-height:1.2em;
	color:#393939;
	border-bottom:2px solid #393939;
	padding:13px 0 22px 0;
	margin-bottom:15px;
}
	h2.alt {
		margin-bottom:1px;
	}
h3 {
	font-size:21px;
	line-height:1.2em;
	font-weight:normal;
	color:#4e4d4d;
}
h5 {
	font-size:16px;
	line-height:1.2em;
	font-weight:normal;
	margin-bottom:12px;
}
	h5 a {
		text-decoration:none;
	}
		h5 a:hover {
			text-decoration:underline;
		}
	h5 span {
		font-size:12px;
		color:#000;
	}



.txt1 {
	color:#393939;
}

.link1 { 
	display:block;
	float:left;
	background:url(../images/link1-bg.gif) left top repeat-x; 
	color:#4c4e4e; 
	text-decoration:none;
	font-size:13px;
}
	.link1 em {
		display:block;
		background:url(../images/link1-left.gif) no-repeat left top;
	}
	.link1 b { 
		display:block;
		background:url(../images/link1-right-sprite.gif) no-repeat right top; 
		padding:0 28px 0 10px; 
		font-style:normal;
		line-height:26px;
	}
	.link1:hover {
		color:#000;
	}
		.link1:hover b {
			background-position:100% -26px;
		}
		
.movie_link, .movie_link.selected:hover { 
	display:block;
	float:left;
	margin-right: 5px;
	margin-bottom: 5px;
	background:url(../images/link1-bg.gif) left top repeat-x; 
	color:#4c4e4e; 
	text-decoration:none;
	font-size:13px;
}
	.movie_link em {
		display:block;
		background:url(../images/link1-left.gif) no-repeat left top;
	}
	.movie_link b, .movie_link.selected b:hover { 
		display:block;
		background:url(../images/link1-right-sprite.gif) no-repeat right top; 
		padding:0 28px 0 10px; 
		font-style:normal;
		line-height:26px;
	}
	.movie_link:hover, .movie_link.selected {
		color:#000;
	}
		.movie_link:hover b, .movie_link.selected b {
			background-position:100% -26px;
		}

.trailer_link_container {
	padding-left:50px;
}

.trailer_link { 
	display:block;
	width:110px;
	margin-top:5px;
	background:url(../images/link1-bg.gif) left top repeat-x; 
	color:#4c4e4e; 
	text-decoration:none;
	font-size:13px;
}
	.trailer_link em {
		display:block;
		background:url(../images/link1-left.gif) no-repeat left top;
	}
	.trailer_link b { 
		display:block;
		background:url(../images/link1-right-sprite.gif) no-repeat right top; 
		padding:0 28px 0 10px; 
		font-style:normal;
		line-height:26px;
	}
	.trailer_link:hover {
		color:#000;
	}
		.trailer_link:hover b {
			background-position:100% -26px;
		}
	
.line-hor { 
	background:#e6e6e6;
	height:1px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:13px -12px 15px -14px;
}

.title { 
	width:100%;
	overflow:hidden;
	margin-bottom:14px;
}
	.title a {
		float:right;
		font-weight:bold;
		font-size:13px;
		padding-top:5px;
	}


/*==================boxes====================*/
.box {
	width:100%;
	background:url(../images/box-bg1.gif) 0 0 repeat-x #fefefe;
}

.notif_box {
	width:49%;
	float:left;
}
.notif_box_right {
	width:49%;
	float:left;
	margin-left:10px;
}
.box.alt-bg {
	background:url(../images/box-bg1-alt.gif) 0 0 repeat-x #fff;
}
	.box .left-top-corner {
		background:url(../images/left-top-corner.gif) no-repeat left top;
	}
	.box.alt-bg .left-top-corner {
		background:url(../images/left-top-corner-alt.gif) no-repeat left top;
	}
	.box .right-top-corner {
		background:url(../images/right-top-corner.gif) no-repeat right top;
	}
	.box.alt-bg .right-top-corner {
		background:url(../images/right-top-corner-alt.gif) no-repeat right top;
	}
	.box .left-bot-corner {
		background:url(../images/left-bot-corner.gif) no-repeat left bottom;
		}
	.box .right-bot-corner {
		background:url(../images/right-bot-corner.gif) no-repeat right bottom;
		}
	.box .inner { 
		padding:13px 15px 10px 15px;
	}
	.box .inner1 { 
		padding:13px 15px 10px 9px;
	}


.box1 {
	width:100%;
	background:#fff;
}
	.box1 .border-top {
		background:url(../images/border1.gif) 0 0 repeat-x;
	}
	.box1 .border-right {
		background:url(../images/border1.gif) 100% 0 repeat-y;
	}
	.box1 .border-bot {
		background:url(../images/border-bot1.gif) 0 100% repeat-x;
	}
	.box1 .border-left {
		background:url(../images/border1.gif) 0 0 repeat-y;
	}
	.box1 .left-top-corner {
		background:url(../images/left-top-corner1.gif) no-repeat left top;
	}
	.box1 .right-top-corner {
		background:url(../images/right-top-corner1.gif) no-repeat right top;
	}
	.box1 .left-bot-corner {
		background:url(../images/left-bot-corner1.gif) no-repeat left bottom;
		}
	.box1 .right-bot-corner {
		background:url(../images/right-bot-corner1.gif) no-repeat right bottom;
		}
	.box1 .inner { 
		padding:15px 15px 16px 15px;
	}


.box2 {
	width:100%;
	background:#edeeee;
}
	.box2 .left-top-corner {
		background:url(../images/left-top-corner2.gif) no-repeat left top;
	}
	.box2 .right-top-corner {
		background:url(../images/right-top-corner2.gif) no-repeat right top;
	}
	.box2 .left-bot-corner {
		background:url(../images/left-bot-corner2.gif) no-repeat left bottom;
		}
	.box2 .right-bot-corner {
		background:url(../images/right-bot-corner2.gif) no-repeat right bottom;
		}
	.box2 .inner { 
		padding:16px 15px 16px 14px;
	}
		.box2 h3 {
			border-bottom:1px solid #b2b3b3;
			padding-bottom:6px;
			margin-bottom:20px;
		}

.box3 {
	width:100%;
	background:#fff;
}
	.box3 .border-top {
		background:url(../images/border2.gif) 0 0 repeat-x;
	}
	.box3 .border-right {
		background:url(../images/border2.gif) 100% 0 repeat-y;
	}
	.box3 .border-bot {
		background:url(../images/border2.gif) 0 100% repeat-x;
	}
	.box3 .border-left {
		background:url(../images/border2.gif) 0 0 repeat-y;
	}
	.box3 .left-top-corner {
		background:url(../images/left-top-corner3.gif) no-repeat left top;
	}
	.box3 .right-top-corner {
		background:url(../images/right-top-corner3.gif) no-repeat right top;
	}
	.box3 .left-bot-corner {
		background:url(../images/left-bot-corner3.gif) no-repeat left bottom;
		}
	.box3 .right-bot-corner {
		background:url(../images/right-bot-corner3.gif) no-repeat right bottom;
		}
	.box3 .inner { 
		padding:15px 15px 16px 19px;
	}


/*===== header =====*/
.header-box .left-top-corner {
	background:url(../images/header-left-top-corner.png) no-repeat 0 0;
	padding-left:4px;
}
.header-box .right-top-corner {
	background:url(../images/header-right-top-corner.png) no-repeat 100% 0;
	padding-right:4px;
}
.header-box .border-top {
	height:4px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	background:url(../images/box-bg.png);
}
	.header-box .indent {
		background:url(../images/box-bg.png) 0 0;
		padding:0 15px 17px 16px;
	}
#header .row-1 {
	height:122px;
}
	#header .row-1 .fleft {
		padding:36px 0 0 1px;
	}
	#header .row-1 .fright {
		text-align:right;
	}
		.adv-nav {
			padding:32px 0 29px 0;
			margin-right:-7px;
		}
			.adv-nav li {
				display:inline;
				color:#8f8f8f;
			}
				.adv-nav li a {
					color:#000;
					text-decoration:none;
					padding:0 9px 0 7px;
				}
				.adv-nav li a:hover {
					text-decoration:underline;
				}
	
	.nav-box {
		background:url(../images/nav-bg.gif) 0 0 repeat-x;
		width:100%;
	}
		.nav-box .left {
			background:url(../images/nav-left.gif) 0 0 no-repeat;
		}
		.nav-box .right {
			background:url(../images/nav-right.gif) no-repeat 100% 0;
			height:29px;
		}
	
	#header .nav {
		padding:3px 0 0 3px;
	}
	#header .nav li {
		float:left;
		padding-right:3px;
	}
		#header .nav li a {
			float:left;
			color:#fff;
			text-decoration:none;
		}
			#header .nav li span {
				float:left;
				cursor:pointer;
			}
				#header .nav li span span {
					padding:0 10px 0 10px;
					line-height:23px;
				}
		
		#header .nav li a:hover, #header .nav li a.current {
			background:url(../images/nav-link-bg.gif) 0 0 repeat-x;
			color:#3f3f3f;
		}
			#header .nav li a:hover span, #header .nav li a.current span {
				background:url(../images/nav-link-left.gif) 0 0 no-repeat;
			}
				#header .nav li a:hover span span, #header .nav li a.current span span {
					background:url(../images/nav-link-right.gif) no-repeat 100% 0;
				}

/*===== content =====*/


/*--- slider begin ---*/

div#feature_list {
	width: 712px;
	height: 595px;
	overflow: hidden;
	position: relative;
}

div#feature_list ul {
	position: absolute;
	list-style: none;	
	padding: 0;
	margin: 0;
}

ul#tabs {
	left: 6px;
	bottom:0;
	z-index: 10;
	width: 708px;
}

ul#tabs li {
	display:inline;
}

ul#tabs li a {
	float:left;
	width:175px;
	height:155px;
	margin-right:2px;
	background:url(../images/thumb-bg1.gif) no-repeat 0 100%;
	color:#090808;
	text-decoration:none;
	display:inline;
}
ul#tabs li a.last {
	margin-right:0;
}
	ul#tabs li img {
		margin-top:16px;
	}
	ul#tabs li span {
		display:block;
		padding:9px 0 0 15px;
	}


ul#tabs li a.current, ul#tabs li a:hover {
	background:url(../images/thumb-bg2.gif) no-repeat 0 0;
	color: #FFF;
	text-decoration: none;
}

ul#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}

ul#output {
	width: 712px;
	height: 369px;
	position: relative;
	left:0;
	top:0;
	z-index:1;
}

ul#output li {
	position: absolute;
	width: 706px;
	height: 369px;
	left:6px;
	top:0;
}
	ul#output li .link1 {
		float:right;
	}

	ul#output li .description {
		background:url(../images/slide-description.png) no-repeat 0 0;
		width:677px;
		height:52px;
		position:absolute;
		top:355px;
		left:-6px;
	}
	ul#output li img {
		display:none;
	}
		ul#output li .description .indent {
			padding:9px 10px 0 20px;
		}
		ul#output li .description h2 {
			font-size:17px;
			line-height:1.2em;
			color:#090808;
			border:none;
			padding:2px 0 0 0;
			margin:0;
			float:left;
		}
			ul#output li .description h2 span {
				font-size:13px;
				font-weight:normal;
			}

/*--- slider end ---*/



#content .section {
	padding-bottom:20px;
}
	ol {
		list-style:decimal;
	}
	ol li {
		color:#a1a1a1;
		font-size:14px;
		border-bottom:1px solid #e5e5e5;
		list-style-position:inside;
		list-style-type:decimal-leading-zero;
		padding:0 0 7px 0;
		margin-bottom:7px;
		vertical-align:top;
	}
	ol li.last {
		border-bottom:none;
	}
		ol li a {
			font-size:12px;
		}
		
	.list1 li {
		border-bottom:1px solid #d9d9d9;
	}
	.list2 li.last {
	border-bottom:1px solid #eee;
	}
		.list2 li a {
			display:block;
			background:#eee;
			padding:10px 0 9px 15px;
			color:#3a3a3a;
			text-decoration:none;
			border-right:1px solid #eee;
			border-left:1px solid #eee;
		}
		.list2 li a:hover {
			background:url(../images/arrow1.gif) no-repeat 0 50% #fff;
			color:#16cbf8;
		}
	
	.list1 li {
		border-bottom:1px solid #d9d9d9;
		list-style-type:none;
		margin:0;
		padding:0;
		list-style-position:inside;
	}
	.list1 .list-num {
		color: #A1A1A1;
		font-size: 14px;
	}
	.list1 li.last {
	border-bottom:1px solid #eee;
	}
		.list1 li a {
			display:block;
			background:#eee;
			padding:10px 0 9px 38px;
			color:#3a3a3a;
			text-decoration:none;
			border-right:1px solid #eee;
			border-left:1px solid #eee;
		}
		
		ol.list1 li a {
			padding:10px 0 9px 10px;
		}
		
		.list1 li a:hover {
			background:url(../images/arrow1.gif) no-repeat 0 50% #fff;
			color:#16cbf8;
		}
		
	.hidden {
		display:none;
	}
	
	.ratings-recent li {
		width:100%;
		overflow:hidden;
		background:url(../images/line-dotted.gif) 0 100% repeat-x;
		padding-bottom:14px;
		margin-bottom:12px;
		vertical-align:top;
	}
		.ratings-recent li img {
			float:left;
			margin-right:12px;
		}
		/*.ratings-recent li a {
			display:block;
			padding-top:7px;
		}*/
	
	
	.dvd-list li {
		background:url(../images/line-dashed.gif) 0 100% repeat-x;
		padding:0 37px 11px 47px;
		margin-bottom:10px;
		position:relative;
		line-height:25px;
	}
		.dvd-list li span {
			display:block;
			position:absolute;
			left:0;
			top:0;
			font-size:11px;
			color:#6f7070;
			line-height:25px;
			text-align:center;
			width:25px;
			background:url(../images/num-bg.gif) no-repeat 0 0;
		}
		.dvd-list li a {
			color:#4c4e4e;
			font-size:11px;
		}
		.dvd-list li a:hover {
			color:#16cbf8;
		}
			.dvd-list li strong a {
				text-decoration:none;
				font-size:12px;
			}
			.dvd-list li strong a:hover {
				text-decoration:underline;
			}
		.dvd-list li a.alt {
			display:block;
			position:absolute;
			right:12px;
			top:0;
		}
	
	
	.rating li {
		position:relative;
		overflow:hidden;
		background:url(../images/line-dotted.gif) 0 100% repeat-x;
		margin-bottom:12px;
		padding:0 0 14px 33px;
		color:#393939;
	}
	.rating li.last {
		background:none;
		margin-bottom:0;
	}
		.rating li span {
			display:block;
			position:absolute;
			left:0;
			top:10px;
		}
			.rating li span img {
				margin-top:3px;
			}
		.rating li img.thumb {
			float:left;
			margin-right:12px;
		}
		.rating li p {
			margin:0;
			padding:8px 0 6px 0;
		}

/*===== footer =====*/
#footer {
	background:url(../images/footer-left-bot-corner.gif) 0 100% no-repeat #383838;
	width:100%;
	color:#fff;
}
	#footer .indent {
		background:url(../images/footer-right-bot-corner.gif) no-repeat 100% 100%;
		padding:16px 20px 30px 20px;
	}

#footer a {
	text-decoration:none;
}
	#footer a:hover {
		text-decoration:underline;
	}

#footer .nav {
	padding:0 0 8px 0;
}

#footer .nav li {
	display:inline;
	padding-right:21px;
}
	#footer .nav li a {
		color:#d7d7d7;
		text-decoration:none;
	}
	#footer .nav li a:hover {
		text-decoration:underline;
	}

#footer .users-links {
	color:#888;
	margin-left:-6px;
	padding-bottom:10px;
}
	#footer .users-links li {
		color:#888;
		display:inline;
	}
		#footer .users-links li a {
			color:#888;
			text-decoration:none;
			padding:0 9px 0 6px;
		}
		#footer .users-links li a:hover {
			text-decoration:underline;
		}
	
.data-by {
	float:right;
	padding-top:18px;
}

.social-services {
	float:right;
}
	.social-services li {
		float:left;
		padding-left:6px;
	}


/*----- forms -----*/
#search-form fieldset {
	border:none;
	background:url(../images/search-bg.gif) no-repeat 100% 0;
	color:#3e3e3e;
}
	#search-form input.text {
		outline: none;
		padding-left:10px;
		width:225px;
		border:none;
		background:none;
	}
	#search-form input.submit {
		width:28px;
		height:27px;
		border:none;
		background:none;
		cursor:pointer
	}
	#search-form strong {
		padding-right:14px;
	}
	

/* Form elements */

.login_box {
	width: 420px;
	float:left;
	margin-left:10px;
}
.reasons_box {
	float: left;
	width: 520px;
}
.login ul {
	text-align: center;
}
	.login ul div.recaptcha_holder li {
		padding-left: 25px;
		margin-top: 10px;
	}
	.login ul div.recaptcha_holder p {
		text-align:center;
		width: 360px;
	}
	
	.login ul li {
		width:360px;
		text-align:left;
		padding-top:5px;
	}
		.login ul li label {
			width: 120px;
			display: inline;
			float: left;
			height: 20px;
			padding-top:5px;
		}
			.reset ul li label {
				width: 140px;
			}
		.login ul li input {
			width:200px;
		}
	.login ul p {
		padding-top:10px;
		width:500px;
		text-align:left;
		color: red;
		margin-bottom: 10px;
	}
	.login ul div.button_container {
		margin-top: 10px;
		text-align: right;
	}
	
form fieldset {
	border:none;
}
	form label {
		display:block;
		height:37px;
	}
	form input[type="text"], form input[type="password"], select {
		outline:none;
		width:190px;
		padding:4px 3px 4px 3px;
		border:1px solid #c6c6c6;
		color:#4c4e4e;
	}
	form select {
		padding-top:3px;
		width: auto;
	}
	form select option {
		padding-left:2px;
		padding-top: 1px;
		padding-right: 10px;
	}
	form p.failure, form fieldset p {
		color:red;
	}
	form p.success {
		color:#90D93F;
	}
	
code {
	border: 1px solid #CCC;
	border-radius: .5em;
	display: inline-block;
	margin: 7px 0;
	padding: .5em;
}

.calendar td {
	padding:6px;
	margin: 6px;
	border-collapse: separate;
}

button {
	border:0;
	background: transparent;
	padding:0;
	cursor: pointer;
}
	button:hover span {
		color:#000;
	}
	button:hover span em b {
		background-position:100% -26px;
	}
	button span {
		display:block;
		float:left;
		margin-right: 5px;
		background:url(../images/link1-bg.gif) left top repeat-x; 
		color:#4c4e4e; 
		text-decoration:none;
		font-size:13px;
	}
		button span em {
			display:block;
			background:url(../images/link1-left.gif) no-repeat left top;
		}
			button span em b {
				display:block;
				background:url(../images/link1-right-sprite.gif) no-repeat right top; 
				padding:0 28px 0 10px; 
				font-style:normal;
				line-height:26px;
			}

/*==========================================*/
